<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 Go Karumi S.L.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karumi.kiru.example">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:name=".KiruApplication">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>