<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 Go Karumi S.L.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.flowup">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true"
      >
    <service
        android:enabled="true"
        android:exported="true"
        android:name=".reporter.android.WiFiSyncService"
        android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
      <intent-filter>
        <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
      </intent-filter>
    </service>

    <service
        android:enabled="true"
        android:exported="true"
        android:name=".config.android.ConfigSyncService"
        android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
      <intent-filter>
        <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
      </intent-filter>
    </service>

    <service
        android:enabled="true"
        android:exported="true"
        android:name=".reporter.android.DeleteOldReportsService"
        android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
      <intent-filter>
        <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
      </intent-filter>
    </service>

  </application>

</manifest>
